In [2]:
salaries = []
for salary in range(5):
    salaries.append(int(input("Enter Salary for the Employee number {}".format(salary + 1))))
total_salary = sum(salaries)
print("Total Salary is: {}".format(total_salary))

Enter Salary for the Employee number 1 10000
Enter Salary for the Employee number 2 20000
Enter Salary for the Employee number 3 30000
Enter Salary for the Employee number 4 40000
Enter Salary for the Employee number 5 50000

Total Salary is: 150000

In [3]:
salaries

[10000, 20000, 30000, 40000, 50000]

In [6]:
salaries = []
employees = 0
while employees < 5:
    salaries.append(int(input(f"Enter Salary for the Employee number {employees + 1}:")))
    employees = employees + 1
total_salary = sum(salaries)
print(f"Total Salary is: {total_salary}")

Enter Salary for the Employee number 1: 10000
Enter Salary for the Employee number 2: 20000
Enter Salary for the Employee number 3: 30000
Enter Salary for the Employee number 4: 40000
Enter Salary for the Employee number 5: 50000

Total Salary is: 150000

In [9]:
total_salary = 0
employee = 0
while True:
    # This loop will break when the user enters 0
    salary = int(input(f"Enter Salary for the Employee number {employee + 1}:"))
    if salary == 0:
        break
    else:
        total_salary = total_salary + salary
    employee = employee + 1
print(f"Total Salary is: {total_salary}")

Enter Salary for the Employee number 1: 10000
Enter Salary for the Employee number 2: 20000
Enter Salary for the Employee number 3: 30000
Enter Salary for the Employee number 4: 30000
Enter Salary for the Employee number 5: 35000
Enter Salary for the Employee number 6: 40000
Enter Salary for the Employee number 7: 50000
Enter Salary for the Employee number 8: 0

Total Salary is: 215000